* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3b82f6;
  --secondary-color: #1d2a3f;
}

body {
  background-color: var(--secondary-color);
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  height: 10vh;
}

.navbar a {
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}

.list-non-bullet {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 10px 10px;
}

.list {
  margin: 0px 6px;
}

.link {
  text-decoration: none;
  color: firebrick;
  font-size: 1.1rem;
  font-family: "Inconsolata", monospace;
}

.navbar .link-active {
  font-weight: bold;
}

.heading {
  text-align: center;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

label {
  padding: 1rem;
}

input {
  height: 5vh;
  width: 55%;
  padding: 4px;
}

.btn {
  margin-top: 1rem;
  width: 15%;
  height: 5vh;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.output-area {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.quiz-form {
  width: 80%;
  margin: auto;
}

.question-container {
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.question-container p {
  text-align: center;
}

.input-quiz {
  height: 2.5vh;
  width: 55%;
  padding: 4px;
  margin-top: 1rem;
}

.btn-quiz {
  display: block;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .navbar a {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  input {
    width: 70%;
    height: 6vh;
  }
  .btn {
    width: 30%;
    height: 6vh;
  }
}
